:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.button {
    margin: 25px auto 25px;
    cursor: pointer;
    left: calc(50% - 50px);
    width: 100px;
    opacity: 0.8;
    z-index: 1005;
}

.button:hover {
    opacity: 1;
}

.button-game-over {
    position: absolute;
    margin: 25px auto 25px;
    cursor: pointer;
    width: 100px;
    opacity: 1;
    left: 50%;
    background-color: red;
}

.button-game-over:hover {
    opacity: 0.5;
}

.game-over-overlay {
    position: absolute;
    z-index: 100002;
    background: cadetblue;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
}

#title-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 60%;
    bottom: 0;
    margin: auto;
}

#start-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
}

.game-over {
    position: absolute;
    opacity: 0.4;
    background: black;
    width: 100vw;
    height: 100vh;
}

#crosshair {
    position: absolute;
    width: 2px;
    height: 2px;
    border: 2px solid #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  